html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
    clear:both;
    padding-top:20px;
    padding-left: 50px;
    padding-right: 50px;
}

.right {
    text-align: right;
    align-content: right;
}

.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}